body {
    font-family: 'Work Sans', sans-serif !important;
    overflow: hidden;
}

/* Color Pallette */
.soBase {
    color: #24292e !important;
    background-color: #ffffff !important;
}

.soPrimary {
    color: #ffffff !important;
    background-color: #24292e !important;
}

.soSecondary {
    color: #24292e !important;
    background-color: #05c9f1 !important;
}

