html {
    overflow-y: hidden !important;
}

body {
    font-family: 'Work Sans', sans-serif !important;
    
}

/* Color Pallette */
#main {
    position: fixed;
    top: 3.25rem;
    right: 0;
    bottom: 3.25rem;
    left: 0;
    background-color: red;
}


/* Color Pallette */
.soBase {
    color: #24292e !important;
    background-color: #ffffff !important;
}

.soPrimary {
    color: #ffffff !important;
    background-color: #24292e !important;
}

.soSecondary {
    color: #24292e !important;
    background-color: #05c9f1 !important;
}

